<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../assets/Wings.svg" />
    <link rel="stylesheet" href="../../utilities/doc.css" />
    <title>Wings UI | Image</title>
  </head>
  <body>
    <header id="home-header" class="flex-row flex-space-btw">
      <h1 class="home-header-title"><a href="/">WINGS UI</a></h1>
      <nav class="home-nav flex-row">
        <ul class="home-nav-list ls-none">
          <li class="home-nav-item">
            <a class="home-nav-link" href="/">Home</a>
          </li>
          <li class="home-nav-item">
            <a class="home-nav-link nav-link-active" href="../alert/alert.html"
              >Docs</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main id="doc-main" class="flex-row">
      <aside class="doc-sidebar">
        <ul class="sidebar-list ls-none mp-m">
          <li class="sidebar-header font-m"><strong>Components</strong></li>
          <li class="sidebar-item mp-m">
            <a href="../alert/alert.html" class="sidebar-link">Alert</a>
          </li>
          <li class="sidebar-item mp-m">
            <a href="../avatar/avatar.html" class="sidebar-link">Avatar</a>
          </li>
          <li class="sidebar-item mp-m">
            <a href="../badge/badge.html" class="sidebar-link">Badge</a>
          </li>
          <li class="sidebar-item mp-m">
            <a href="../button/button.html" class="sidebar-link">Button</a>
          </li>
          <li class="sidebar-item mp-m">
            <a href="../card/card.html" class="sidebar-link">Card</a>
          </li>
          <li class="sidebar-item mp-m">
            <a href="../grid/grid.html" class="sidebar-link">Grid</a>
          </li>
          <li
            class="sidebar-item mp-m active-component"
            style="background-color: var(--image-color)"
          >
            <a href="./image.html" class="sidebar-link">Image</a>
          </li>
          <li class="sidebar-item mp-m">
            <a href="../input/input.html" class="sidebar-link">Input</a>
          </li>
          <li class="sidebar-item mp-m">
            <a href="../list/list.html" class="sidebar-link">List</a>
          </li>
          <li class="sidebar-item mp-m">
            <a href="../modal/modal.html" class="sidebar-link">Modal</a>
          </li>
          <li class="sidebar-item mp-m">
            <a href="../navigation/navigation.html" class="sidebar-link"
              >Navigation</a
            >
          </li>
          <li class="sidebar-item mp-m">
            <a href="../rating/rating.html" class="sidebar-link">Rating</a>
          </li>
          <li class="sidebar-item mp-m">
            <a href="../text-utilities/text-utilities.html" class="sidebar-link"
              >Text Utilities</a
            >
          </li>
          <li class="sidebar-item mp-m">
            <a href="../toast/toast.html" class="sidebar-link">Toast</a>
          </li>
        </ul>
      </aside>
      <section class="doc-section mp-m">
        <h2 class="doc-header font-xl">Image</h2>
        <p class="doc-text mpy-s">
          Responsive images built with Wings UI. Use classes for images to make
          your pictures responsive and more beautiful.
        </p>

        <!-- || Responsive Image -->
        <div
          class="component-type mp-s"
          style="border-color: var(--image-color)"
        >
          <h3 class="component-header font-l">Responsive Image</h3>
          <p class="component-text mpy-s">
            Concept of responsive images — images that work well on devices with
            widely differing screen sizes, resolutions, and other such features.
          </p>
          <div class="component-display mp-m">
            <img
              class="img-responsive"
              src="https://images.unsplash.com/photo-1643768479891-ea1066aadc6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
              alt="responsive-img"
            />
          </div>
          <p class="iframe-text mpy-xs">
            Following code snap is here for your reference:
          </p>
          <div class="iframe-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C0%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%250A%2520%2520%253Cimg%2520class%253D%2522img-responsive%2522%2520%250A%2520%2520%2520%2520%2520%2520%2520src%253D%2522img-url%2522%2520%250A%2520%2520%2520%2520%2520%2520%2520alt%253D%2522responsive-img%2522%2520%252F%253E%2520%2520%2520%2520%2520%2520%250A%250A%250A"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>

        <!-- || Round Image -->
        <div class="component-type mp-s">
          <h3 class="component-header font-l">Round Image</h3>
          <p class="component-text mpy-s">
            The round image is responsive as well and serves multiple use cases.
          </p>
          <div class="component-display mp-m">
            <img
              class="img-responsive img-round"
              src="https://images.unsplash.com/photo-1641984790242-d8aa477d306c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
              alt="round-img"
            />
          </div>
          <p class="iframe-text mpy-xs">
            Following code snap is here for your reference:
          </p>
          <div class="iframe-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C184%2C195%2C0%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%250A%2509%253Cimg%2520class%253D%2522img-responsive%2520img-round%2522%2520%2520%2520%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520src%253D%2522img-url%2522%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520alt%253D%2522round-img%2522%2520%252F%253E%2520%2520%2520%2520%2520%250A%250A"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>

