@import url("../utilities/global.css");
@import url("./helper/spacing.css");
@import url("./helper/flex.css");
@import url("./helper/size.css");
@import url("./helper/doc.css");

/* || DOCS MAIN */
#doc-main {
  max-height: 100vh;
}
.doc-sidebar {
  flex-basis: 100px;
  border-right: 2px solid var(--secondary-color);
}
.sidebar-header {
  color: var(--secondary-color);
}
.iframe-container {
  position: relative;
  overflow: auto;
  height: 70vh;
}
iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 100%;
}
