/* FLEX */
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-space-btw {
  align-items: center;
  justify-content: space-between;
}

.flex-space-around {
  align-items: center;
  justify-content: space-between;
}
