.font-xs {
    font-size: 0.5rem;
}

.font-s {
    font-size: 0.8rem;
}

.font-m {
    font-size: 1.5rem;
}

.font-l {
    font-size: 2rem;
}

.font-xl {
    font-size: 2.5rem;
}

.font-xxl {
    font-size: 3rem;
}