/* || IMPORTS */
@import url("./utilities/global.css");

/* || HOME SECTION */
.section-text {
  font-size: 1.3rem;
  max-width: 65%;
  color: var(--font-color);
  margin-top: 0;
  padding-top: 0;
}

.section-text-highlight {
  color: var(--secondary-color);
}

.section-link {
  background-color: var(--secondary-color);
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 2rem 1rem 1rem 1rem;
  cursor: pointer;
  color: black;
}

.section-link:hover {
  background-color: var(--primary-color);
}

.section-img {
  max-width: 100%;
  width: 65rem;
}

/* || MEDIA QUERIES */
@media screen and (max-width: 800px) {
  .home-section {
    flex-direction: column;
  }

  .section-img {
    width: 30rem;
  }
}
