/* || ROOT CSS */
:root {
  --card-shadow-color: #e6e3e3;
  --card-shadow-hover-color: #c9c9c9;
  --card-text-color: #9b9b9b;
  --card-discount-color: #008000;
  --card-badge-color: #4294f8;
  --card-overlay-color: white;
  --card-overlay-bg-color: black;
  --card-dismiss-color: #c50404;
}

/* || CARD */
.card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 0.3rem 0 var(--card-shadow-color);
}
.card:hover {
  box-shadow: 0px 0px 0.3rem 0 var(--card-shadow-hover-color);
}

/* || CARD VERTICAL */
.card-vertical {
  margin: 0.5rem;
}
.card-details {
  padding: 0.5rem;
}
.card-title {
  margin-top: 0.2rem;
}
.card-sub-title {
  display: inline-block;
  color: var(--card-text-color);
}
.card-title,.card-sub-title {
  max-width: fit-content;
}
.card-img {
  object-fit: cover;
  border-radius: 0.2rem;
  max-height: 16rem;
}
.card-price-section {
  display: flex;
  margin: 0.2rem 0.5rem;
}
.original-price {
  color: var(--card-text-color);
  margin: 0.2rem 0.5rem;
  text-decoration: line-through;
}
.discount {
  color: var(--card-discount-color);
}
.card-buttons {
  padding: 0.5rem;
}
.card-icon {
  padding: 0.4rem 1rem;
}

/* || CARD WITH BADGES */
.card-badge,.card-dismiss {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.card-badge {
  background-color: var(--card-badge-color);
  padding: 0.3rem;
  border-radius: 0.3rem;
}

/* || CARD WITH DISMISS */
.card-dismiss {
  color: var(--card-dismiss-color);
  cursor: pointer;
}

/* || CARD WITH TEXT OVERLAY */
.card-overlay-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
}
.card-overlay-details {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card-overlay-bg-color);
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.card-overlay-title {
  color: var(--card-overlay-color);
}
.card-opacity {
  opacity: 0.6;
}

/* || CARD HORIZONTAL */
.card-horizontal {
  flex-direction: row;
}
.card-details-horizontal {
  padding: 0.3rem;
}
.card-quantity {
  vertical-align: baseline;
  margin: 0.8rem 0.5rem;
}
.card-quantity-btn {
  background: transparent;
  padding: 0.2rem 0.3rem;
  border-radius: 50%;
  cursor: pointer;
}
.quantity-value {
  width: 1.5rem;
  margin: 0 0.3rem;
  padding: 0.2rem 0.4rem;
}
.card-quantity-btn,
.quantity-value {
  border: 1.5px solid var(--card-overlay-bg-color);
}
.card-horizontal-buttons {
  display: flex;
  flex-direction: column;
}

/* || HORIZONTAL CARD WITH TEXT ONLY */
.card-text-only {
  padding: 0.5rem;
  flex-direction: column;
  max-width: 23rem;
  width: 100%;
}
.card-text-title,
.line-separate,
.card-text-label {
  margin: 0.3rem 0;
}
.card-text-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.discount-charges {
  color: var(--card-discount-color);
}

/* || MEDIA QUERIES */
@media screen and (max-width: 560px) {
  .card-horizontal {
    flex-direction: column;
  }
}

