/* || ROOT CSS */
:root {
  --card-shadow-color: #e6e3e3;
  --card-text-color: #9b9b9b;
  --card-link-color: #e073d9;
  --card-link-hover-color: #fff1fe;
  --card-overlay-color: white;
}

/* || CARD */
.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 0.5rem 0 var(--card-shadow-color);
}
.card:hover {
  transform: scale(1.03);
  transition: transform 0.3s;
}

/* || CARD VERTICAL */
.card-vertical {
  max-width: 18rem;
  margin: 0.5rem;
}
.card-details-container {
  display: flex;
  flex-direction: column;
}
.card-details {
  margin-bottom: 0.5rem;
}
.card-title {
  margin: 0.8rem 0 0 0.8rem;
}
.card-author {
  color: var(--card-text-color);
  margin: 0 0 0 1rem;
}
.card-img {
  object-fit: contain;
  border-radius: 0.2rem;
  width: 100%;
}
.card-action-items {
  display: flex;
  margin: 1rem 0;
  justify-content: space-around;
}
.card-link {
  text-decoration: none;
  border-radius: 0.2rem;
  margin-right: 0.3rem;
  padding: 0.2rem 0.4rem;
  color: var(--card-link-color);
}
.card-link:hover {
  background-color: var(--card-link-hover-color);
}
.card-icon {
  cursor: pointer;
  padding: 0.2rem 0.4rem;
}
.card-icon:hover {
  border-radius: 0.3rem;
  background-color: var(--card-shadow-color);
}

/* || CARD VERTICAL */
.card-overlay-container {
  position: relative;
  top: 0;
}
.card-overlay-details {
  position: absolute;
  bottom: 2rem;
  left: 1.5rem;
}
.card-overlay-title {
  color: var(--card-overlay-color);
}
.card-overlay-author {
  color: var(--card-overlay-color);
}

/* || CARD HORIZONTAL */
.card-horizontal {
  max-width: 22rem;
}
.card-details-horizontal {
  display: flex;
}
.card-img-horizontal {
  max-width: 10rem;
  border-radius: 0.2rem 0 0.2rem 0;
}
.card-text {
  padding: 1rem;
  color: var(--card-text-color);
}

