/* || IMPORTS */
@import url("../utilities/global.css");
@import url("../helper/spacing.css");
@import url("../helper/flex.css");
@import url("../helper/size.css");
@import url("../components/component.css");

/* || ROOT CSS */
:root {
  --alert-color: #a3c4f3;
  --avatar-color: #fde4cf;
  --badge-color: #cfbaf0;
  --button-color: #b9fbc0;
  --card-color: #98f5e1;
  --grid-color: #ade8f4;
  --image-color: #ffc8dd;
  --input-color: #ffcdf8;
  --list-color: #ffcc7b;
  --modal-color: #e9edc9;
  --navigation-color: #eae4e9;
  --rating-color: #ccdbfd;
  --text-utilities-color: #cacfd6;
  --toast-color: #c0fdff;
}

/* || DOCS MAIN */
.doc-sidebar {
  border-right: 2px solid var(--secondary-color);
  text-align: center;
  max-height: 90vh;
  overflow: auto;
}
.doc-sidebar::-webkit-scrollbar {
  width: 3px;  /* Remove scrollbar space */
  /* background: transparent;  Optional: just make scrollbar invisible */
}
.doc-sidebar::-webkit-scrollbar-thumb {
  background: var(--secondary-color)
}
.sidebar-header {
  color: var(--secondary-color);
}
.doc-section {
  flex: 1;
}


/* || COMPONENT CSS */
.active-component {
  border-radius: 0.3rem;
}
.component-type {
  padding-bottom: 2rem;
}
.component-type:not(:last-child) {
  border-bottom: 3px solid;
}

/* || MEDIA QUERIES */
@media screen and (max-width: 800px) {
  #doc-main {
    flex-direction: column;
  }
  .doc-sidebar {
    height: 15rem;
    overflow: auto;
    border-color: transparent;
  }
  .doc-sidebar::-webkit-scrollbar {
    display: none;
  }
  .doc-section,
  .sidebar-list {
    margin: 0.5rem;
    padding: 0.3rem;
  }
  .component-display {
    margin: 0.5rem 0;
    padding: 0.5rem 0;
  }
}

