/* || IMPORTS */
@import url("../utilities/global.css");
@import url('../components/component.css');

/* || ROOT CSS */
:root {
  --alert-color: #a3c4f3;
  --avatar-color: #fde4cf;
  --badge-color: #CFBAF0;
  --button-color: #B9FBC0;
  --card-color: #98f5e1;
  --image-color: #FFC8DD;
  --input-color: #f8e4ff;
}

/* || DOCS MAIN */
.doc-section {
  flex: 1;
}
.doc-sidebar {
  border-right: 2px solid var(--secondary-color);
  text-align: center;
  max-height: 90vh;
}
.sidebar-header {
  color: var(--secondary-color);
}
.iframe-container {
  position: relative;
  overflow: auto;
  min-height: 70vh;
}
iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 100%;
}

/* || COMPONENT CSS */
.active-component {
  border-radius: 0.3rem;
}
.component-type {
  padding-bottom: 2rem;
}
.component-type:not(:last-child) {
  border-bottom: 3px solid;
}

/* || MEDIA QUERIES */
@media screen and (max-width: 800px) {
  .doc-section,
  .sidebar-list {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .component-display {
    margin: 0.5rem 0;
    padding: 0.5rem 0;
  }
}

