@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url("https://fonts.googleapis.com/css2?family=Belleza&display=swap");

/* || CSS RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
  font-family: "Belleza", sans-serif;
  --primary-color: #cfbaf0;
  --secondary-color: #ff6584;
  --font-color: rgb(155, 155, 155);
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

/* || RESPONSIVE IMAGE */
.img-box {
  object-fit: contain;
}

/* || HOME HEADER */
.home-header-title {
  margin: 1rem;
}

.home-nav {
  margin: 0.5rem;
}

.ls-none {
  list-style: none;
}

.home-nav-list {
  display: flex;
  align-items: center;
}

.home-nav-item {
  padding: 0.5rem;
}

.home-nav-link {
  margin: 0 0.8rem;
  padding: 0.3rem 0.8rem;
  border-bottom: 2px solid transparent;
}

.nav-link-active {
  color: var(--secondary-color);
}

/* || HOVER EFFECTS */
.home-nav-link:hover {
  border-color: var(--primary-color);
}

.nav-link-active:hover {
  border-color: var(--secondary-color);
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 15px;
  }
}