/* || ROOT CSS */
:root {
  --primary-alert-light: #cfe2ff;
  --secondary-alert-light: #e2e3e5;
  --success-alert-light: #d1e7dd;
  --danger-alert-light: #f8d7da;
  --warning-alert-light: #fff3cd;
  --info-alert-light: #cff4fc;
  --primary-alert-dark: #2864be;
  --secondary-alert-dark: #808080;
  --success-alert-dark: #17925a;
  --danger-alert-dark: #ca2b39;
  --warning-alert-dark: #b89628;
  --info-alert-dark: #2d96ad;
}

/* || ALERT */
.alert {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  max-width: 40rem;
}

/* -------------------- || BASIC ALERTS ---------------------------- */

/* || BASIC PRIMARY ALERT */
.alert-primary {
  background-color: var(--primary-alert-light);
  color: var(--primary-alert-dark);
}

/* || BASIC SECONDARY ALERT */
.alert-secondary {
  background-color: var(--secondary-alert-light);
  color: var(--secondary-alert-dark);
}

/* || BASIC SUCCESS ALERT */
.alert-success {
  background-color: var(--success-alert-light);
  color: var(--success-alert-dark);
}

/* || BASIC DANGER ALERT */
.alert-danger {
  background-color: var(--danger-alert-light);
  color: var(--danger-alert-dark);
}

/* || BASIC WARNING ALERT */
.alert-warning {
  background-color: var(--warning-alert-light);
  color: var(--warning-alert-dark);
}

/* || BASIC INFO ALERT */
.alert-info {
  background-color: var(--info-alert-light);
  color: var(--info-alert-dark);
}

/* -------------------- || LINK ALERTS ---------------------------- */

.alert-link {
  text-decoration: underline;
}

